<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 
http://localhost:8080/web/board

CREATE TABLE `tb_reply` (
  `idx` INT NOT NULL AUTO_INCREMENT,
  `board_idx` INT,
  `reply_idx` INT,
  `contents` TEXT NULL,
  PRIMARY KEY (`idx`));

CREATE TABLE `tb_board` (
  `idx` INT NOT NULL AUTO_INCREMENT,
  `title` VARCHAR(255) NULL,
  `contents` TEXT NULL,
  `image` VARCHAR(255) NULL,
  PRIMARY KEY (`idx`));
 -->
<mapper namespace="com.web.mapper.BoardMapper">

    <!-- 210415 박민지 추가 -->
    
    <insert id="addBoard">
		INSERT INTO 
	    	board
	   			(
	               title,
	               contents,
	               writer,              
	               reg_date,
	               status,
	               file_path
				)
	    	VALUES
	   			(
	   				#{title},
	   				#{contents},
	   				#{writer},
	   				sysdate,
	   				#{status},
	   				#{file_path}	
	   				
				)
    </insert>
    
    
    <insert id="addBoardTemp">
		INSERT INTO 
	    	board
	   			(
	               title,
	               contents,
	               writer,              
	               reg_date,
	               status,
	               file_path
				)
	    	VALUES
	   			(
	   				#{title},
	   				#{contents},
	   				'writer',
	   				sysdate,
	   				#{status},
	   				#{file_path}	
	   				
				)
    </insert>
    
    <update id="boardDelete">
    	UPDATE BOARD
		SET STATUS='D', 
       		ISDELETE=1
		WHERE IDX = #{idx}
    </update>
    
    
    <select id="getBoardDelete" resultType="com.web.domain.Board">
			SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT * 
						FROM BOARD 
						WHERE status='D'
						ORDER BY idx desc, reg_date desc
						) A
				)
		WHERE RN BETWEEN #{start} AND #{end};
               
		
	</select>
	
	
	 <select id="getBoardTemp" resultType="com.web.domain.Board">
				SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT * 
						FROM BOARD 
						WHERE status='T'
						ORDER BY idx desc, reg_date desc
						) A
				)
		WHERE RN BETWEEN #{start} AND #{end};
		
	</select>
	
	
	<select id="getBoardSave" resultType="com.web.domain.Board">
				SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT * 
						FROM BOARD 
						WHERE status='C'
						ORDER BY idx desc, reg_date desc
						) A
				)
		WHERE RN BETWEEN #{start} AND #{end};
		
	</select>
    

    
    <!-- 210415 박민지 추가 -->
    
    
    
	<select id="getBoard" resultType="com.web.domain.Board">
		SELECT
			   idx,
               title,
               contents,
               writer,              
               count,
               reg_date,
               status,
               isdelete,
               file_path
		FROM
			board
		ORDER BY reg_date desc, idx desc
	</select>
	
	<select id="getBoardOne" resultType="com.web.domain.Board">
		SELECT
				idx,
               title,
               contents,
               writer,              
               count,
               reg_date,
               status,
               isdelete,
               file_path
		FROM
			board
		WHERE
			idx = #{idx}
	</select>
	
    <insert id="addReply">
		INSERT INTO 
	    	reply
	   			(
					board_idx,
					reply_idx,
					contents
				)
	    	VALUES
	   			(
	   				#{boardIdx},
	   				#{replyIdx},
	   				#{contents}
				)
    </insert>
    
	<select id="getReply" resultType="com.web.domain.Reply">
		SELECT
			idx, board_idx as boardIdx, reply_idx as replyIdx, contents
		FROM
			reply
		WHERE
			board_idx = #{boardIdx}
		order by reply_idx asc
	</select>
	<!-- 총 게시글 갯수 출력 -->
	<select id="countBoard" resultType="int">
	SELECT COUNT(*) FROM BOARD WHERE status = #{status}
	</select>

<!-- 페이징 처리 후 게시글 조회 -->
	<select id="selectBoard" resultType="com.web.domain.Board">
	SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT * 
						FROM BOARD 
						ORDER BY idx ASC 
						) A
				)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	<select id="getTempBoard" resultType="com.web.domain.Board">
		SELECT
			   idx,
               title,
               writer,              
		FROM
			board
		WHERE
			status = 'T'
		ORDER BY reg_date desc
		limit 5
		
	</select>
	
		<select id="getSaveBoard" resultType="com.web.domain.Board">
		SELECT
			   idx,
               title,
               writer,              
		FROM
			board
		WHERE
			status = 'C'
		ORDER BY reg_date desc
		limit 5
		
	</select>
	
		<select id="getDeleteBoard" resultType="com.web.domain.Board">
			SELECT
			   idx,
               title,
               writer,              
		FROM
			board
		WHERE
			status = 'D'
		ORDER BY reg_date desc
		limit 5
		
	</select>
	


	
	<select id="countTemp" resultType="int">
		SELECT
			   count(*)            
		FROM
			board
		WHERE
			status = 'T'
		
	</select>
	
		<select id="countSave" resultType="int">
		SELECT
			 count(*)           
		FROM
			board
		WHERE
			status = 'C'
		
	</select>
	
		<select id="countDelete" resultType="int">
			SELECT
			count(*)             
		FROM
			board
		WHERE
			status = 'D'
		
	</select>
	
	 <!-- 2021.04.16 박민지 수정 추가 -->
    <update id="boardUpdate">
	  UPDATE BOARD
	  SET TITLE = #{title}, 
	         WRITER = #{writer},
	         CONTENTS = #{contents}
	  WHERE IDX = #{idx}
    </update>
    <!-- 2021.04.16 박민지 추가 -->
	<select id="searchBoard" resultType = "com.web.domain.Board" parameterType="com.web.domain.BoardDTO">
	SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (		
					SELECT idx, 
						   title, 
						   writer, 
						   reg_date
					  FROM board
					 WHERE 1 = 1
					 <if test="searchType eq 't'.toString()">
					   AND title 
					 </if>
					 <if test="searchType eq 'w'.toString()">
					   AND WRITER 
					 </if>
					   LIKE '%' || #{keywordInput} || '%'
					  ORDER BY idx 	
					) A
				)
		WHERE RN BETWEEN #{vo.start} AND #{vo.end}	
	</select>
</mapper>
